<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Wedding party members</h1>
    <%= link_to 'New wedding party member', new_wedding_party_member_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="wedding_party_members" class="min-w-full">
    <%= render @wedding_party_members %>
  </div>
</div>
