<div class="bg-green-300 border-green-600 border-b p-4 m-4 rounded"><%= t('welcome-greeting-1') %></div>
<div class="bg-green-300 border-green-600 border-b p-4 m-4 rounded"><%= t('welcome-greeting-2') %></div>
<a href="<%= new_project_pages_path %>"><%= t('get-started-link') %></a>
