@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tangerine {
    font-family: 'Tangerine', cursive;
}

label.required::before, legend.required::before {
    content: "*";
    padding-right: 3px;
}
