// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tab-component {
    height: 400px;
    max-height: 400px;
    overflow: hide;
}

.tab-contents {
    height: 358px;
    overflow: auto;
}

th, td {
    border: 1px solid lightgray;
    padding-left: 4px;
    padding-right: 4px;
}
